# Created by .ignore support plugin (hsz.mobi)
.idea/workspace.xml
build/CMakeFiles/Bomberman.dir/src/objetos/
build/CMakeFiles/CMakeTmp/
build/core
build/data/imagenes/fondos/bomberman.gif
build/data/imagenes/fondos/bomberman.png
build/data/imagenes/fondos/fondo_menu_3.bmp
*.[oa]
*~
build/CMakeFiles/Bomberman.dir/src/Interfaces/editor/
build/CMakeFiles/Bomberman.dir/src/Interfaces/juego/
build/CMakeFiles/Bomberman.dir/src/Interfaces/menu/
Bomberman.VC.VC.opendb
Bomberman.VC.db
Bomberman.sln
Bomberman.vcxproj
Bomberman.vcxproj.filters
Bomberman.vcxproj.user
Debug/
Release/
src/SDL/
src/SDL2_image-2.0.1/
src/SDL2_mixer-2.0.1/
src/SDL2_ttf-2.0.14/
.vs/